body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

header {
    text-align: center;
    padding: 20px;
    color: #000
}

.links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1
}

.profile-section {
    margin-bottom: 70px;
    margin-top: 90px
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
    text-align-last: center
}

.bio {
    font-size: 18px;
    color: red;
    margin-bottom: 20px;
    text-align-last: center
}

.links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px
}

.link {
    background-color: white;
    color: #FF0000;
    text-decoration: none;
    padding: 15px;
    border-radius: 35px;
    margin: 10px 0;
    font-weight: bold;
    font-size: 18px;
    width: 160%;
    height: 50%;
    box-shadow: 0 9px 10px rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: transform .3s ease
}

.link:hover {
    transform: scale(1.09)
}

.icon {
    width: 10%;
    height: 10%x;
    margin-right: 25px;
    object-fit: cover
}

    {
    box-sizing: border-box;
    margin-bottom: 90px
}

.links-section a {
    display: block;
    width: 300px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none
}

.links-section a img {
    vertical-align: middle;
    margin-right: 10px
}

.links-section a:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .2)
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px
}

.footer p {
    margin: 0
}

.footer__social {
    display: flex;
    justify-content: center;
    margin-top: 10px
}

.footer__social .social-icon {
    margin: 0 2px;
    color: #fff;
    font-size: 10px;
    text-decoration: none
}

.footer__social .social-icon:hover {
    color: #ffcc00
}

.page-wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

@media (max-width:600px) {
    .links-section a {
        width: 90%
    }
}