.masonry-container {
    /* Justified Gallery handles layout */
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    translate: 21px 0;

    .wil-content {
        margin-top: 100px;
    }
}

.image-item,
.video-item {
    /* Style base item appearance */
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

.image-item>img,
.video-item video,
.video-thumbnail img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px
}



.video-item {
    margin-bottom: 20px;

    img,
    video {
        /* aspect-ratio: 16 / 9; */
        object-fit: cover;
        border-radius: 0
    }
}



.flex-container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

    .image-item,
    .video-item {
        width: 367px;
        /* margin: 2rem; */
    }
}

.grid-container {
    display: grid;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(min(350px, 45%), 1fr));
}